# Server Configuration
PORT=8080

# Redis Cache Settings
REDIS_HOST=localhost
REDIS_PORT=6379

# Upstream Currency Provider
UPSTREAM_URL=https://dolarapi.com/v1/dolares

# Cache Expiration (Seconds)
CACHE_TTL_SECONDS=300
